selenium
webdriver-manager
python-dotenv
scheduler
dateparser
sentence-transformers
transformers
torch
scikit-learn
numpy
pymongo
pandas
plotly
altairdocke
matplotlib
pytz
dateparser
TorchCRF
jsonlines
prettytable
tensorboardX
vncorenlp